body {
    font-family: Inter, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    margin-top: 50px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #334155;
    border: none;
    border-radius: 6px;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background: #3b82f6;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

li {
    background: #334155;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.actions button {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 8px;
}